nav {
  background-color: #333;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
}

a:hover {
  color: red;
  border-bottom: 2px solid red;
}
